<html>
  <head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <style>
      .navbar-brand{
        color:rgb(29, 29, 29);
        font-size: 24px;
      }

      .carousel-item img{
        width:100%; 
        max-height: 700px;
      }

      .section img{
        border-radius: 3%;
      }
      
      /* -------------------------------- */
      .main_latest{
        font-size: 0.75em;
        font-family: "Noto Sans KR", "Malgun Gothic", "dotum", "sans-serif";
        letter-spacing: -1px;
        box-sizing: border-box;
        width: 45%;
        display: inline-block;
        background: rgb(233, 233, 233);
        padding: 29px 30px 35px;
        box-shadow: 3px 3px 5px -2px rgba(0,0,0,0.2);
        top: 0;
        left: 0;
      }
      /* ------------------------------- */

    </style>

  </head>

  <body>
    <div class="menubar d-flex flex-column flex-md-row align-items-center px-md-4 mb-3 bg-white border-bottom box-shadow fixed-top">
      
      <a class="navbar-brand my-0 mr-md-auto" style="margin-left:20px;" href="#">
        Introduce Our Korea
      </a>

      <nav class="my-2 my-md mr-md-3 m-3 ">
        <u1 class="nav justify-content-end pr-3">
            <a class="nav-link active pr-3 text-dark" href="theme_place.html">테마별명소</a>
        
            <a class="nav-link active pr-3 text-dark" href="section_place.html">지역별명소</a>
          
            <a class="nav-link active pr-3 text-dark" href="#">취향을 테스트 해보세요!</a>
        </u1>
      </nav>
        
    </div>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="">
          
        </li>
        <li data-target="#myCarousel" data-slide-to="1" class="">
          
        </li>
        <li data-target="#myCarousel" data-slide-to="2" class="">
          
        </li>
        <li data-target="#myCarousel" data-slide-to="3" class="active">
          
        </li>
      </ol>
      
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="first-slide" src="남산타워.jpg" alt="First slide"> <!-- 이미지 바꾸기 -->
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Example</h1>
              <p>whatever</p>
              <p>
                <a class="btn btn-lg btn-light" href="#" role="button">btn example</a>
              </p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <img class="second-slide" src="제주도.jpg" alt="Seocnd slide"> <!-- 이미지 바꾸기 -->
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Example</h1>
              <p>
                whatever
              </p>
              <p>
                <a class="btn btn-lg btn-light" href="#" role="button">btn example</a>
              </p>
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <img class="third-slide" src="세종대왕님.jpg" alt="Third slide"> <!-- 이미지 바꾸기 -->
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>세종대왕님</h1>
              <p>
                대한민국의 과학 기술, 예술, 문화, 국방, 훈민정음 등 <br>
                많은 분야에서 우리나라의 발전의 큰 틀을 제시한 조선의 4대 국왕<br>
                서울 광화문에 세종대왕상이 위치해 있다.
              </p>
              
            </div>
          </div>
        </div>

        <div class="carousel-item">
          <img class="fourth-slide" src="강원도.jpg" alt="Fourth slide"> <!-- 이미지 바꾸기 -->
          <div class="container">
            <div class="carousel-caption text-left">
              <h1>Example</h1>
              <p>
                whatever
              </p>
              <p>
                <a class="btn btn-lg btn-light" href="#" role="button">btn example</a>
              </p>
            </div>
          </div>
        </div>

      </div>

      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>

    <div class="container mt-5">
      <section class="section element section2 tablet_padding">
        <h2 style="text-align: center; margin-bottom:30px">한국의 8도</h2>
        
        <div class="section-inner clearfix">

          <hr class="featurette-divider" style="margin-bottom:75px;">

          <div class="row featurette">
            <div class="col-md-7 text-muted">
              <h2 class="featurette-heading">8도 중 하나</h2>
              <p class="lead">whatever</p>
            </div>
            <div class="col-md-5">
              <img class="featurette-image img-fluid mx-auto"  style="width: 400px; max-height: 350px;" src="강원도감자.jpg" data-holder-rendered="true">
            </div>
          </div>

          <hr class="featurette-divider" style="margin-bottom:75px; margin-top:75px;">

          <div class="row featurette">
            <div class="col-md-7 order-md-2 text-muted">
              <h2 class="featurette-heading">8도 중 하나</h2>
              <p class="lead">whatever</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" style="width: 400px; max-height: 350px;" src="강원도감자.jpg" data-holder-rendered="true">
            </div>
          </div>

          <hr class="featurette-divider" style="margin-bottom:75px; margin-top:75px;">

          <div class="row featurette">
            <div class="col-md-7 text-muted">
              <h2 class="featurette-heading">8도 중 하나</h2>
              <p class="lead">whatever</p>
            </div>
            <div class="col-md-5 order-md-1">
              <img class="featurette-image img-fluid mx-auto" style="width: 400px; max-height: 350px;" src="강원도감자.jpg" data-holder-rendered="true">
            </div>
          </div>

          
          <!-- ---------------------------------------------- -->


          <div class="main_latest notice">
						
						<div class="latest_wrap">
						
							<div class="latest_hd">
								<strong>공지사항</strong>
								<span>NOTICE</span>
							</div>
							<div class="latest_bd">
								<ul class="latest_ul">

									<li class="latest_li">
										<div class="latest_date">
											<strong>12.21</strong>
											<span>2020</span>
										</div>
										<div class="latest_txt">
											<a class="latest_href" href="/index.do?menuId=00000248&amp;bbsId=BBSMSTR_000000000053&amp;nttId=1028&amp;selCategory=공지사항&amp;bbsMode=view">
												<span class="latest_subj">문화도시 시민공회 아이디어 SNS 이벤트 당첨자 발표</span>
												<span class="latest_cont">&nbsp; 당첨되신 분들에게는 21일 이후 기프티콘을 휴대폰 문자로 보내드릴 예</span>
											</a>
										</div>
									</li>

									<li class="latest_li">
										<div class="latest_date">
											<strong>12.14</strong>
											<span>2020</span>
										</div>
										<div class="latest_txt">
											<a class="latest_href" href="/index.do?menuId=00000248&amp;bbsId=BBSMSTR_000000000053&amp;nttId=1025&amp;selCategory=공지사항&amp;bbsMode=view">
												<span class="latest_subj">2020 갓안동 한 편의 선비가 되어보다 작품공개</span>
												<span class="latest_cont">2020 문화특화지역조성사업 시민공동체 공모 제안사업 2020 갓안동 영</span>
											</a>
										</div>
									</li>

									<li class="latest_li">
										<div class="latest_date">
											<strong>12.10</strong>
											<span>2020</span>
										</div>
										<div class="latest_txt">
											<a class="latest_href" href="/index.do?menuId=00000248&amp;bbsId=BBSMSTR_000000000053&amp;nttId=1024&amp;selCategory=공지사항&amp;bbsMode=view">
												<span class="latest_subj">문화도시 안동 소셜픽션 '내가 꿈꾸는 미래의 안동' 공모전 결과 발표</span>
												<span class="latest_cont"></span>
											</a>
										</div>
									</li>

									<li class="latest_li">
										<div class="latest_date">
											<strong>12.02</strong>
											<span>2020</span>
										</div>
										<div class="latest_txt">
											<a class="latest_href" href="/index.do?menuId=00000248&amp;bbsId=BBSMSTR_000000000053&amp;nttId=1022&amp;selCategory=공지사항&amp;bbsMode=view">
												<span class="latest_subj">안동역! 이제 어떻게 활용할까? 문화도시 시민공회 아이디어 이벤트</span>
												<span class="latest_cont">문화도시 온라인 시민공회 &nbsp;"안동역! 이제 어떻게 활용할까?"&nbsp; &nbsp; 안동</span>
											</a>
										</div>
									</li>
								
								</ul>
							</div>
							<div class="latest_link">
								<a class="latest_link_href" href="/index.do?menuId=00000248" title="공지사항 바로가기">공지사항 바로가기</a>
							</div>
						</div>
						
					</div>



          <!-- ---------------------------------------------- -->



          <hr class="featurette-divider" style="margin-bottom:30px; margin-top:75px;">

        </div>
      </section>
    </div>
    
    <footer class="container">
      <img src="codingon.png" style="width:200px; height: auto;">
      <p class="float-right"><a href="#">Back to top</a></p>
      <p>© 2020-2021 Codingon, Inc. · <a>Privacy</a> · <a>Terms</a></p>
    </footer>


  </body>

</html>