<html>
	<head>
		<meta charset="UTF-8">
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>

<link rel="shortcut icon" href="/humanframe/theme/basic/assets/images/img/pavi_16_16.png" type="image/x-icon" />
<link rel="icon" href="/humanframe/theme/basic/assets/images/img/pavi_16_16.png" type="image/x-icon" />

<script src="https://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2172246170" type="text/javascript" charset="utf-8"></script>
		    <style>
      .navbar-brand{
        color:rgb(29, 29, 29);
        font-size: 24px;
      }

      .carousel-item img{
        width:100%;
        height:700px;
        max-height: 700px;
        
      }

      .section img{
        border-radius: 3%;
      }

    </style>

  </head>

  <body>
    <div class="menubar d-flex flex-column flex-md-row align-items-center px-md-4 mb-3 bg-white border-bottom box-shadow fixed-top">
      
      <a class="navbar-brand my-0 mr-md-auto" style="margin-left:20px;" href="#">
          Introduce Our Korea
      </a>

      <nav class="my-2 my-md mr-md-3 m-3 ">
        <u1 class="nav justify-content-end pr-3">
            <a class="nav-link active pr-3 text-dark" href="theme_place.html">테마별명소</a>
        
            <a class="nav-link active pr-3 text-dark" href="#">지역별명소</a>
          
            <a class="nav-link active pr-3 text-dark" href="#">취향을 테스트 해보세요!</a>
        </u1>
      </nav>
        
    </div>
	
	<br><br>
				<div>
				<style> h2{margin-top:30px;margin-left:290px; font-size:25px; font-family:"굴림"; font-weight: 600; font-family:"bold";}
					</style>
					<h2>지역별 관광정보</h2></div>
					<br>
						<div style="text-align:center;">
						<img src="/static/ss.jpg" width="700px" height="500px"/>

</div>
<br>				<br><br>
<div>
					
	
		<style> 
			.parent{margin-right:100px;margin-left:100px;}
		.tour-infor-inner{display:inline-block; }
		</style>
		
				<div class="tour-infor-inner" id="sti1">
				<a href="http://www.gangnam.go.kr/contents/tourgangnam/1/view.do?mid=FM010406" target="_blank" title="새창열">
						<span class="logo"><img src="/static/gn.jpg" alt=""></span>
						<span class="large-text">강남구</span>
					</a>
				</div>
				
				<div class="tour-infor-inner" id="sti3">
					<a href="https://culture.gangdong.go.kr/web/portal/culture.do" target="_blank" title="새창열">
						<span class="logo"><img src="/static/gd.png" alt=""></span>
						<span class="large-text">강동구</span>
					</a>
				</div>
	
			
			
				<div class="tour-infor-inner" id="sti5">
					<a href="http://www.gangbuk.go.kr/tour/index.do" target="_blank" title="새창열">
						<span class="logo"><img src="/static/gb.png" alt=""></span>
						<span class="large-text">강북구</span>
					</a>
				</div>
		
			
				<div class="tour-infor-inner" id="sti7">
					<a href="gs.png" target="_blank" title="새창열">
						<span class="logo"><img src="/static/gs.png" alt=""></span>
						<span class="large-text">강서구</span>
					</a>
				</div>
			
			
				<div class="tour-infor-inner" id="sti9">
					<a href="http://www.gwanak.go.kr/site/gwanak/area/areaMain.do?cateCont=Area02" target="_blank" title="새창열">
						<span class="logo"><img src="/static/gw.png" alt=""></span>
						<span class="large-text">관악구</span>
					</a>
				</div>
					<div class="tour-infor-inner" id="sti11">
					<a href="https://www.gwangjin.go.kr/portal/main/contents.do?menuNo=200241" target="_blank" title="새창열">
						<span class="logo"><img src="/static/gj.png" alt=""></span>
						<span class="large-text">광진구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti13">
					<a href="hhttp://www.guro.go.kr/culture/NR_index.do" target="_blank" title="새창열">
						<span class="logo"><img src="/static/gr.png" alt=""></span>
						<span class="large-text">구로구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti15">
					<a href="http://www.geumcheon.go.kr/html/001/001006005001001.html" target="_blank" title="새창열">
						<span class="logo"><img src="/static/gc.png" alt=""></span>
						<span class="large-text">금천구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti17">
					<a href="http://www.nowon.kr/new/tour/tour.jsp?mid=560301" target="_blank" title="새창열">
						<span class="logo"><img src="/static/nw.png" alt=""></span>
						<span class="large-text">노원구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti19">
					<a href="http://tour.dobong.go.kr/" target="_blank" title="새창열">
						<span class="logo"><img src="/static/db.png" alt=""></span>
						<span class="large-text">도봉구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti21">
					<a href="http://www.ddm.go.kr/tour/main" target="_blank" title="새창열">
						<span class="logo"><img src="/static/dm.png" alt=""></span>
						<span class="large-text">동대문구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti23">
					<a href="http://www.dongjak.go.kr/portal/main/contents.do?menuNo=201107" target="_blank" title="새창열">
						<span class="logo"><img src="/static/dj.png" alt=""></span>
						<span class="large-text">동작구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti25">
					<a href="https://www.mapo.go.kr/site/culture/home" target="_blank" title="새창열">
						<span class="logo"><img src="/static/mp.png" alt=""></span>
						<span class="large-text">마포구</span>
					</a>
				</div>
		
		
				<div class="tour-infor-inner" id="sti2">
					<a href="http://www.sdm.go.kr/genre/education.do" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/sd.png" alt=""></span>
						<span class="large-text">서대문구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti4">
					<a href="http://www.seocho.go.kr/site/seocho/cultureCitySeocho.do" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/sc.png" alt=""></span>
						<span class="large-text">서초구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti6">
					<a href="http://sd.go.kr/sd/main.do?op=mainSub&mCode=13C060010011" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/sd.png" alt=""></span>
						<span class="large-text">성동구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti8">
					<a href="http://www.seongbuk.go.kr/tour/mainPage.do" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/sb.png" alt=""></span>
						<span class="large-text">성북구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti10">
					<a href="http://culture.songpa.go.kr/user.kdf?a=songpa.menu.MenuApp&c=1001&cate_id=AM0000000000" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/sp.png" alt=""></span>
						<span class="large-text">송파구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti12">
					<a href="http://www.yangcheon.go.kr/site/yangcheon/ex/bbs/List.do?cbIdx=354" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/yc.png" alt=""></span>
						<span class="large-text">양천구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti14">
					<a href="http://tour.ydp.go.kr/" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/yp.png" alt=""></span>
						<span class="large-text">영등포구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti16">
					<a href="http://www.yongsan.go.kr/site/ct/index.jsp" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/ys.png" alt=""></span>
						<span class="large-text">용산구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti18">
					<a href="https://www.ep.go.kr/CmsWeb/viewPage.req?idx=PG0000003320" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/ep.png" alt=""></span>
						<span class="large-text">은평구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti20">
					<a href="http://tour.jongno.go.kr/tourMain.do" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/jn.png" alt=""></span>
						<span class="large-text">종로구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti22">
					<a href="http://www.junggu.seoul.kr/tour/" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/jg.png" alt=""></span>
						<span class="large-text">중구</span>
					</a>
				</div>
				<div class="tour-infor-inner" id="sti24">
					<a href="http://www.jungnang.go.kr/portal/main/contents.do?menuNo=200649" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/jr.png" alt=""></span>
						<span class="large-text">중랑구</span>
					</a>
				</div>
		</ul>


</div><!-- end:content -->

				
				
					
		</html>