{% extends 'korea/base.html' %}
{% block contents %}

<div class="container mt-5">
	<div class="region-group">

		<p class="lead"
			style="margin-top:30px; margin-left: 120px; font-size:30px; font-weight: 400; color:rgb(87, 87, 87)">지역별
			관광정보</p>
	</div>
	<br>
	<div style="text-align:center;">
		<img src="/static/ss.jpg" width="700px" height="500px" />
	</div>
	<br><br><br>

	<table>
		<div class="region_list lead">

			<tr class="region-group">
				<th class="tour-infor-inner" id="sti1">
					<a href="http://www.gangnam.go.kr/contents/tourgangnam/1/view.do?mid=FM010406" target="_blank"
						title="새창열">
						<span class="logo"><img src="/static/gn.jpg" alt=""></span>
						<span class="large-text">강남구</span>
					</a>
				</th>

				<th class="tour-infor-inner" id="sti3">
					<a href="https://culture.gangdong.go.kr/web/portal/culture.do" target="_blank" title="새창열">
						<span class="logo"><img src="/static/gd.png" alt=""></span>
						<span class="large-text">강동구</span>
					</a>
				</th>

				<th class="tour-infor-inner" id="sti5">
					<a href="http://www.gangbuk.go.kr/tour/index.do" target="_blank" title="새창열">
						<span class="logo"><img src="/static/gb.png" alt=""></span>
						<span class="large-text">강북구</span>
					</a>
				</th>


				<th class="tour-infor-inner" id="sti7">
					<a href="http://www.gangseo.seoul.kr/site/munhwa_new/index.jsp" target="_blank" title="새창열">
						<span class="logo"><img src="/static/gs.png" alt=""></span>
						<span class="large-text">강서구</span>
					</a>
				</th>


				<th class="tour-infor-inner" id="sti9">
					<a href="http://www.gwanak.go.kr/site/gwanak/area/areaMain.do?cateCont=Area02" target="_blank"
						title="새창열">
						<span class="logo"><img src="/static/gw.png" alt=""></span>
						<span class="large-text">관악구</span>
					</a>
				</th>
			</tr>

			<tr class="region-group">
				<th class="tour-infor-inner" id="sti11">
					<a href="https://www.gwangjin.go.kr/portal/main/contents.do?menuNo=200241" target="_blank"
						title="새창열">
						<span class="logo"><img src="/static/gj.png" alt=""></span>
						<span class="large-text">광진구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti13">
					<a href="https://www.guro.go.kr/www/contents.do?key=2098&" target="_blank" title="새창열">
						<span class="logo"><img src="/static/gr.png" alt=""></span>
						<span class="large-text">구로구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti15">
					<a href="http://www.geumcheon.go.kr/html/001/001006005001001.html" target="_blank" title="새창열">
						<span class="logo"><img src="/static/gc.png" alt=""></span>
						<span class="large-text">금천구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti17">
					<a href="https://www.nowon.kr/www/intrcn/intrcn1/intrcn1_01.jsp" target="_blank" title="새창열">
						<span class="logo"><img src="/static/nw.png" alt=""></span>
						<span class="large-text">노원구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti19">
					<a href="http://tour.dobong.go.kr/" target="_blank" title="새창열">
						<span class="logo"><img src="/static/db.png" alt=""></span>
						<span class="large-text">도봉구</span>
					</a>
				</th>
			</tr>

			<tr class="region-group">
				<th class="tour-infor-inner" id="sti21">
					<a href="http://www.ddm.go.kr/tour/main" target="_blank" title="새창열">
						<span class="logo"><img src="/static/dm.png" alt=""></span>
						<span class="large-text">동대문구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti23">
					<a href="http://www.dongjak.go.kr/portal/main/contents.do?menuNo=201107" target="_blank"
						title="새창열">
						<span class="logo"><img src="/static/dj.png" alt=""></span>
						<span class="large-text">동작구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti25">
					<a href="https://www.mapo.go.kr/site/culture/home" target="_blank" title="새창열">
						<span class="logo"><img src="/static/mp.png" alt=""></span>
						<span class="large-text">마포구</span>
					</a>
				</th>


				<th class="tour-infor-inner" id="sti2">
					<a href="http://www.sdm.go.kr/culture/index.do" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/sd.png" alt=""></span>
						<span class="large-text">서대문구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti4">
					<a href="http://www.seocho.go.kr/site/seocho/cultureCitySeocho.do" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/sc.png" alt=""></span>
						<span class="large-text">서초구</span>
					</a>
				</th>
			</tr>

			<tr class="region-group">
				<th class="tour-infor-inner" id="sti6">
					<a href="https://www.sd.go.kr/tour/index.do" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/sd.png" alt=""></span>
						<span class="large-text">성동구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti8">
					<a href="https://www.sb.go.kr/tour/mainPage.do" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/sb.png" alt=""></span>
						<span class="large-text">성북구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti10">
					<a href="https://www.songpa.go.kr/culture/index.do" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/sp.png" alt=""></span>
						<span class="large-text">송파구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti12">
					<a href="http://www.yangcheon.go.kr/site/yangcheon/ex/bbs/List.do?cbIdx=354" target="_blank"
						title="새창열림">
						<span class="logo"><img src="/static/yc.png" alt=""></span>
						<span class="large-text">양천구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti14">
					<a href="https://www.ydp.go.kr/tour/index.do" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/yp.png" alt=""></span>
						<span class="large-text">영등포구</span>
					</a>
				</th>
			</tr>

			<tr class="region-group">
				<th class="tour-infor-inner" id="sti16">
					<a href="http://www.yongsan.go.kr/site/ct/index.jsp" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/ys.png" alt=""></span>
						<span class="large-text">용산구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti18">
					<a href="https://www.ep.go.kr/CmsWeb/viewPage.req?idx=PG0000003320" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/ep.png" alt=""></span>
						<span class="large-text">은평구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti20">
					<a href="http://tour.jongno.go.kr/tourMain.do" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/jn.png" alt=""></span>
						<span class="large-text">종로구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti22">
					<a href="http://www.junggu.seoul.kr/tour/" target="_blank" title="새창열림">
						<span class="logo"><img src="/static/jg.png" alt=""></span>
						<span class="large-text">중구</span>
					</a>
				</th>
				<th class="tour-infor-inner" id="sti24">
					<a href="http://www.jungnang.go.kr/portal/main/contents.do?menuNo=200649" target="_blank"
						title="새창열림">
						<span class="logo"><img src="/static/jr.png" alt=""></span>
						<span class="large-text">중랑구</span>
					</a>
				</th>
			</tr>
			</ul>


		</div><!-- end:content -->
	</table>
</div>
{% endblock %}